<div *ngIf="youtubeRecords | async; else loadingOrError">
  <ag-grid-angular
    rowSelection="multiple"
    [sideBar]="sideBar"
    [modules]="modules"
    [suppressMenuHide]="true"
    [frameworkComponents]="frameworkComponents"
    [suppressRowClickSelection]="true"
    [context]="context"
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    (gridReady)="onGridReady($event)"
    [rowData]="youtubeRecords | async"
    [columnDefs]="columnDefs"
    [getContextMenuItems]="getContextMenuItems"
    [defaultColDef]="defaultColDef"
  ></ag-grid-angular>
</div>

<ng-template #loadingOrError>
  <span class="red_text">Error loading: {{errorLoading?.message}}</span>
</ng-template>
